---
layout: default
popup-gallery: true
gallery-background: bg-dark
gallery:
   -  column-size: col-4_sm-12
      aspect-ratio: square
      background_image: images/the-sleep-co-bed.jpg
      type: dog
   -  column-size: col-4_sm-12
      aspect-ratio: square
      background_image: images/the-sleep-co-pillow.jpg
      type: dog
   -  column-size: col-4_sm-12
      aspect-ratio: square
      background_image: images/the-sleep-co-pillow.jpg
      type: dog
   -  column-size: col-12
      aspect-ratio: landscape
      background_image: images/the-sleep-co-pug.jpg
      type: cat
   -  column-size: col-6_sm-12
      aspect-ratio: landscape
      background_image: images/the-sleep-co-sheets.jpg
      type: rabbit
   -  column-size: col-6_sm-12
      aspect-ratio: landscape
      background_image: images/the-sleep-co-pug.jpg
      type: rabbit
---
<!---------------------- Header Banner ------------------->
 <header class="grid tall-100 md-tall-80">
        
    {% include header-nav.html %}
    
    <div class="col-12 text-center">
        <h3 class="font-weight-extra-bold editable" data-aos="fade-in" data-aos-duration="1000">
            <span class="featured-text">explore</span> our world
        </h3>
        <h1 class="font-weight-light editable" data-aos="fade-up" data-aos-delay="500">the ultimate mattress solution</h1>
    </div>
</header>

<!---------------------- Gallery ------------------->
{% if page.popup-gallery == true %}

<!-- Popup Gallery ------------>

<section class="padded {{page.gallery-background}}">

  <h2>Popup Gallery</h2>
  <div class="gallery grid" id="lightgallery">

    {% for item in page.gallery %}
    {% if item.type == 'dog' %}

    <a class="{{item.column-size}}" href="{{item.background_image}}">
      <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');">
      </div>
    </a> 
    {% endif %}

    {% endfor %}

  </div>


  <!-- <div class="gallery grid" id="lightgallery-2">

    <a class="button" href="images/the-sleep-co-pillow.jpg">View our work</a> 
    <a href="images/the-sleep-co-pug.jpg" title="Cute dog"></a> 
    <a href="images/the-sleep-co-sheets.jpg" title="Bed sheets 1"></a>
    <a href="images/the-sleep-co-bed.jpg" title="Bed"></a> 
    <a href="images/the-sleep-co-pillow.jpg" title="Pillow"></a>
    <a href="images/the-sleep-co-sheets.jpg" title="Bed sheets 2"></a>

  </div> -->
</section>
{% else %}

<!-- Standard Gallery --------->

<section class="padded {{page.gallery-background}}">
  <h2>Standard Gallery</h2>
  <div class="gallery grid">
    
    {% for item in page.gallery %}

    <div class="{{item.column-size}}">
    <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');">
     </div>
     </div> 
    
    {% endfor %}

  </div>
</section>
{% endif %}

 <!---------------------- Testimonial --------------------->
{% include testimonial.html %}


