<!--------- Add jQuery ---------->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Animate on scroll -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<!-- JS for scroll -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.1.8/lightgallery.min.js"></script>

<!-- Our Custom Javascript file-------->
<script src="/scripts.js"></script>